body {
  background-image: url(./img/letras-espacio-medio.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.title {
  margin-left:690px;
  font-size: 40px;
  margin-top: 150px;

}

.title h5 {
  margin-left: 600px;
  font-size: 30px;
  margin-top: -60px;
}

.title p {
  margin-left: 650px;
  font-size: 30px;
  margin-top: -40px;
}

.scoreH {
  display: none;
}

.score {
  display: none;
}


.button-into {
  margin-left: 900px;
  
}

.button-into button {
  padding: 10px 20px;
  font-size: 26px;
  transition: transform 1.6s ease;
  border-radius: 10px;
  /* display: none; */

  
}

.button-into button:hover {
  transform: scale(1.2);
}
.input {
  margin-left: 160px;
  font-size: 20px;
}

.login {
  margin-left: 700px;
  margin-top: 80px;
  transition: transform 0.7s ease;
  display: none;
}

.login h3 {
  font-size: 30px;
  margin-left: 160px;
  margin-bottom: 10PX;
}


.btns-Play {
  margin-left: 600px;
  display: none;
}

.btns-Play button {
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  margin-left: 90px;
}

.btns-Play  button:hover {
  transform: scale(1.2);
}
.nivelsContainer {
margin-left: 500px;
position: absolute;
}
.nivelsContainer button {
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

.nivelsContainer p {
  margin-left: 800px;
}


.desbloqueado {
  /* Estilos para el botón desbloqueado */
  background-color: green;
  color: white;
  cursor: pointer;
}

.bloqueado {
  /* Estilos para el botón bloqueado */
  background-color: gray;
  color: black;
  cursor: not-allowed;
  opacity: 0.5;
}

.nivelsContainer h3 {
  font-size: 90px;
  margin-left: 350px;

}
/* 
.btnYes {
  display: none;
}

.btnNot {
  display: none;

} */

.btnsOptions {
  display: none;
}

.btnsOptions {
  /* display: none; */
  position: fixed; /* Opcional: también puedes usar 'position: absolute;' */
  top: 100px; /* Posición vertical fija */
  left: 100px; /* Posición horizontal fija */
  /* Otros estilos para el div */
  margin-top: 530px;
  margin-left: 800px;
  font-size: 10px;
}

.btnsOptions button {
  padding: 10px 20px;
  font-size: 26px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  padding-right: 10px;
  margin-left: 10px;

}